{% extends "base.html" %} {% block title %}Новости спорта{% endblock title %} {%
block content %}

<div id="articles-container" class="container mt-4 content-container">
  <!-- Initial articles will be loaded here by the server -->
</div>

<!-- Load more button -->
<div class="text-center my-4">
  <button
    id="load-more-btn"
    class="btn btn-primary"
    onclick="loadMoreArticles({{ article_type_id | default('undefined') }})"
  >
    Загрузить еще
  </button>
</div>

{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', path='/js/loadNews.js') }}"></script>
<script>
  window.onload = () => {
  loadMoreArticles({{ article_type_id | default('undefined') }});
  };
</script>
{% endblock scripts %}
